@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-fondo: #f1e0d9;
  /* Fondo principal */
  --color-titulo: #c23071;
  /* Texto Titulo */
  --color-texto1: #bb1662;
  /* Texto general */
  --color-fondo2: #632b46;
  /* fondo2 general */
  --color-kero: #ff9232;
  /* color kerberos */
  --color-gradient: linear-gradient(
    90deg,
    rgba(241, 224, 217, 1) 15%,
    rgba(227, 170, 185, 1) 39%,
    rgba(241, 224, 217, 1) 58%,
    rgba(227, 170, 185, 1) 79%
  );
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-texto1);
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--color-gradient);
}

.contentHome,
.hero {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

/*--NAVBAR--*/

nav {
  background-color: #9a5c75;
  box-shadow: 0px 5px 10px 0px #919191;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
}

.nav {
  /* contenedor navContainer de todo*/
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(100%);
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  top: 0;
}

.nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0);
}

.navbar-text {
  color: snow;
  display: flex;
  align-items: center;
  font-size: 1rem;
  z-index: 1;
}

.navbar-img {
  margin: 5% 0;
  max-width: 6rem;
}

.nav-link {
  background-color: unset;
  padding: 0;
  position: unset;
  gap: 1.5em;
  grid-auto-flow: column;
  transform: unset;
  grid-column: -2/-1;
  grid-row: 1/2;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  /*nav_link*/
  color: snow;
  text-decoration: none;
  font-size: 1.2rem;
}

.navBtn {
  padding: 1rem 1.1rem;
  font-size: 1rem;
  color: #bb1662;
  background-color: snow;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  border-radius: 10%;
}

.navBtn:hover {
  font-weight: 500;
  background-color: #c23071;
  color: snow;
}

.nav_hamburguer,
.nav_close {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: 0.4s transform;
}

.nav_hamburguer {
  transform: var(--state-hamburguer);
}

.nav_close {
  transform: var(--state-close);
}

.navbar-gifKey {
  width: 51px;
  height: auto;
  border-radius: 10% 50% 50% 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-gifKey:hover {
  font-weight: 500;
  background-color: #c23071;
  color: snow;
}

/*----------- HOME---------- */

.inicioContainer {
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  line-height: 2.5rem;
}

.sakuraImg {
  width: 100%;
  max-width: 80%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: normal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*------------ filtros------------------------*/
.button-common {
  /* propiedades de btn comunes*/
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.cartasClow {
  margin-top: 5%;
  text-align: end;
}

select[data-testid="select-filter"],
#ordenarFilter,
select[data-testid="select-filter2"],
select[data-testid="select-estadistic"] {
  height: 2.5rem;
  width: 100%;
  padding: 0 10px;
}

.container-ordenar {
  text-align: end;
}

#text {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 20px 0px;
}

.reset-btn {
  width: 100%;
  margin-bottom: 5%;
  padding: 1rem 1.5rem;
  background-color: #c23071;
  color: snow;
}

.reset-btn:hover {
  background-color: #ac386c;
  color: snow;
  font-weight: 600;
}

/*--------------- cartas clow-------------------*/
.cartasContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.card-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardName {
  margin: 0;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.cardDescription {
  margin: 0;
  font-weight: 400;
  color: snow;
  margin-top: 10px;
  z-index: 5;
}

.card-button {
  margin: 10px;
  padding: 0.5rem 2rem;
  background-color: snow;
  border-radius: 10px;
  color: #bb1662;
  text-decoration: none;
  text-transform: lowercase;
}

.card-button:hover {
  background-color: #c23071;
  color: snow;
  font-weight: 600;
  transform: translateY(-2px);
}

.img-container {
  margin-left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 10px 10px 0 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 240px;
  height: 430px;
  background-color: #9a5c75;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

dl {
  margin: 0;
  width: 100%;
  height: 300px;
  position: relative;
}

.img-card {
  position: absolute;
  width: 100%;
  height: 160%;
  border-radius: 10px 10px 0 0;
}

/*-- --------- css de view de cardInfo-------------*/

.content {
  width: 100%;
  height: 100vh;
  background-color: var(--color-fondo);
  display: flex;
}

.containerChat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.imgInfo {
  height: auto;
  width: 100%;
  max-width: 10rem;
  border-radius: 2rem;
}

.container-text {
  width: 34rem;
  font-weight: 400;
  line-height: 1.5rem;
  align-items: center;
}

.mainInfoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.chatIndContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-height: 30rem;
  max-width: 30rem;
}

.description {
  font-size: 1rem;
  text-align: justify;
}

svg {
  width: 1.5rem;
  height: auto;
}

.btnChat {
  margin-top: 2%;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: #c23071;
  color: snow;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btnChat:hover {
  background-color: #992b5c;
  transform: translateY(-2px);
}

/*-----------css de view APIKEY ------------------ */
.apiview {
  height: 93vh;
}

.apikeyContent {
  width: 100%;
  height: 38rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

#password {
  width: 100%;
  max-width: 40rem;
  height: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 1rem;
}

/*----------------------MODAL ------------- */
dialog {
  border: none;
  border-radius: 1rem;
  padding-top: 1rem;
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 600px;
  background-color: #9a5c75;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.chat-header {
  width: 100%;
  height: 6rem;
  display: flex;
  background-color: #dcb6c6d4;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  border: solid 2px #855065;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.img-chat {
  width: 3rem;
  height: 3rem;
  position: absolute;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-left: 1rem;
}

.chat-with,
.btn-cierre {
  color: #855065;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 6rem;
}

.chat-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #855065;
  border-radius: 0 0 1rem 1rem;
  border: solid 2px #855065;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chat-message {
  width: 95%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  gap: 1rem;
}

#message-send {
  width: 80%;
  height: 4rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  box-shadow: 1px 0px 8px 5px rgba(0, 0, 0, 0.1);
}

.containerSend {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  border: none;
  right: 9.5rem;
  background-color: rgb(153, 76, 107);
  width: 3rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.containerSend:hover {
  background-color: rgb(114, 55, 78);
}

.send {
  width: 2rem;
  height: 2rem;
}

/* --FOOTER-- */

footer {
  background-color: #9a5c75;
  width: 100%;
  height: 4rem;
}

.footer-title {
  text-align: center;
  color: #f1e0d9;
  padding-top: 20px;
}

/* -- VISTA ERROR -- */

.error-container {
  /* contenedor ppal */
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.text-404 {
  /* solo texto */
  font-size: 2rem;
  text-transform: lowercase;
  color: #855065;
}

.img-404 {
  filter: drop-shadow(0 0 20px rgb(255, 255, 255));
  margin-top: 70px;
  max-width: 500px;
  height: auto;
}

.kerberos {
  filter: drop-shadow(0px -10px 30px #ffffff);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* -- VISTA CHAT GRUPAL (cartas clow) -- */

.viewChatGrupal {
  display: flex;
  height: 100vh;
  background-color: var(--color-fondo);
  justify-content: space-between;
  overflow: scroll;
}

.list-ChGr {
  background-color: #ab7689;
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.list-contact-ChGr {
  /* background-color: #ab7689; */
  /*  width: 30rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  box-shadow: 0px 4px 12px 6px rgba(0, 0, 0, 0.1);
}

.title-contact {
  color: #855065;
  text-align: center;
  background: #dcb6c6;
  padding: 30.5px;
}

.img-icono {
  display: none;
}

.container-contact {
  margin-left: 20px;
}

.avatar-container {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* asegura que la parte fuera del círculo no se muestre */
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.img-Avatar {
  width: 100%;
  height: 175px;
}

.contain-card {
  display: flex;
  margin: 10px 0 0 5px;
}

.avatar-name {
  margin: 20px 0 0 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.name-card {
  color: #ffffff;
}

.description-card {
  color: #ffffff;
  opacity: 0.7;
  font-weight: normal;
}
/* -- HISTORIA CHATTTTTTTTTTTTTTTTT -- */
.response {
  color: snow;
}
#inactive {
  display: none;
}
.message-data {
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
}

.message-data-time {
  color: lighten(gray 8%);
  padding-left: 6px;
}
.message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
}
.message-data-name {
  color: snow;
}
.message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgb(223, 255, 223);
  border-width: 10px;
  margin-left: -10px;
}

.my-message {
  background: snow;
}

.other-message {
  background: rgb(219, 219, 255);

  &:after {
    border-bottom-color: blue;
    left: 93%;
  }
}

/* -- VISTA CHAT GRUPAL (Chat grupal) -- */

.chatGrupal {
  display: flex;
  background: #855065;
  min-width: 200px;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.nav-chatGrupal {
  display: flex;
  background: #dcb6c6;
  padding: 20px;
  box-shadow: -1px 7px 12px 6px rgba(0, 0, 0, 0.1);
}

.title-chatGrupal {
  color: #855065;
  margin-left: 54px;
  margin-top: 8px;
}

.chatG-historial {
  margin: 10px 10px 0 10px;
  overflow-y: auto;
  padding: 6rem;
  height: 40%;
}

.window-chat {
  display: flex;
  /* height: 100%; */
  border-radius: 0 0 1rem 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 100px;
}

.GrupalSend {
  margin-bottom: 40px;
  background-color: #bb166287;
}

/* Media Query */

@media (max-width: 400px) {
  .avatar-container {
    width: 60px; /* Reduzco el tamaño del contenedor de la imagen */
    height: 60px;
  }

  .avatar-name {
    margin-top: 5px; /* Reduzco el espacio entre la imagen y el nombre */
    font-size: 12px; /* Reduzco el tamaño del texto */
  }

  .description-card {
    display: none;
  }

  .contain-card {
    /* display: flex; */
    text-align: center;
    margin: 5px 0 0 0;
    flex-direction: column;
  }

  .list-ChGr {
    width: 6rem;
  }

  .list-contact-ChGr {
    width: 8rem;
  }

  .title-contact {
    display: none;
  }

  .img-icono {
    display: block;
    margin: 5px 0 10px 25px;
    width: 60px;
  }

  .openIcon {
    margin-left: 146px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1980px) {
  /* Tus estilos para pantallas entre 1000px y 1980px van aquí */
  body {
    width: 100%;
  }

  .inicioContainer {
    flex-direction: row;
  }

  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0);
  }

  .nav:target {
    --state-close: scale(0);
  }

  .nav-item a {
    font-size: 1rem;
  }
  .containerChat {
    margin-top: 26px;
  }
  .contentHome {
    margin-top: 60px;
  }

  .kerberos {
    width: 100%;
    max-width: 42rem;
  }
}

@media screen and (max-width: 600px) {
  nav {
    position: fixed;
    top: 0;
  }

  .nav-link {
    background-color: #9a5c75;
    position: fixed;
    top: -150px;
    bottom: 0;
    left: 15vh;
    right: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    transform: var(--state-menu);
    transition: 0.5s transformt;
    grid-auto-flow: row;
    align-content: center;
    justify-items: end;
  }

  .nav-item a {
    font-size: 1rem;
  }

  .content {
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
  }

  .containerChat {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .imgInfo {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
  }

  .mainInfoCard {
    gap: 1rem;
  }

  .chatIndContainer {
    width: 100%;
    height: 20rem;
  }

  .imgInfo {
    max-width: 10rem;
    height: auto;
    border-radius: 1rem;
  }

  .container-text {
    width: 100%;
    text-align: center;
  }

  .contentHome,
  .content {
    padding-top: 30%;
  }

  .title .apikeyContent {
    gap: 1rem;
  }

  #password {
    max-width: 20rem;
  }

  .kerberos,
  .img-404 {
    width: 95%;
    top: 28.5rem;
  }

  .error-container {
    padding-top: 10%;
  }
}
