:root {
  --color-fondo: #f1e0d9;
  /* Fondo principal */
  --color-titulo: #c23071;
  /* Texto Titulo */
  --color-texto1: #bb1662;
  /* Texto general */
  --color-fondo2: #632b46;
  /* fondo2 general */
  --color-kero: #ff9232;
  /* color kerberos */
}

* {
  margin: 0;
  padding: 0;
  color: var(--color-texto1);
  font-family: "roboto", sans-serif;
  font-family: sans-serif;
}

html {
  background: rgb(241, 224, 217);
  background: linear-gradient(
    90deg,
    rgba(241, 224, 217, 1) 15%,
    rgba(227, 170, 185, 1) 39%,
    rgba(241, 224, 217, 1) 58%,
    rgba(227, 170, 185, 1) 79%
  );
}

#root {
  height: 100%;
  display: initial;
}

/*--NAVBAR--*/

nav {
  background-color: #9a5c75;
  box-shadow: 0px 5px 10px 0px #919191;
  width: 100%;
  opacity: 0.95;
  z-index: 999;
  position: fixed;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
}

.navbar-logo {
  display: flex;
  align-items: center;
  color: white;
}

.navbar-text {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: rgb(255, 255, 255);
}

.navbar-img {
  max-width: 6rem;
}

.nav-list {
  margin-right: 1.5rem;
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.nav-links a:hover {
  color: #490726;
}

.nav_hamburguer {
  display: none;
}

.nav_close {
  display: none;
}

/*---INICIO---*/

/*-- SECCION DE INFO CARTAS---*/
section {
  height: 100vh;
}
.containerInfo {
  width: 100%;
  height: 80vh;
  padding: 6rem 0;
  background-color: antiquewhite;
}
.imgInfo {
  height: auto;
  width: 10rem;
}
.container-text {
  width: 34rem;
}
.mainInfoCard {
  width: 70rem;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nameCard {
  color: rgb(33, 39, 39);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.description {
  font-size: 1rem;
}
@media screen and (max-width: 700px) {
  /*--NAVBAR---*/
  .nav_hamburguer,
  .nav_close {
    display: block;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .navbar-icon-menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(13, 17, 17);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
  }

  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }

  .nav-list a {
    color: aliceblue;
  }
}

/* --FOOTER-- */

footer {
  /* position: fixed; */
  bottom: 0;
  background-color: #855065;
  box-shadow: 5px 0px 15px 4px #919191;
  width: 100%;
  height: 70px;
  z-index: 0;
}

.footer-contain {
  /* display: flex;
  align-items: center; */
  padding: 0px;
  /* min-height: calc(100vh - 70px); */
}

.footer-title {
  text-align: center;
  color: #f1e0d9;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}

/* -- VISTA ERROR -- */

.error-container {
  /* contenedor ppal */
  height: 480px;
  min-height: calc(100vh - 70px);
}

.error-contain {
  /* img 404 y texto */
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-404 {
  /* solo texto */
  margin-top: 10px;
}

.img-404 {
  filter: drop-shadow(0 0 20px rgb(255, 255, 255));
  margin-top: 70px;
  max-width: 500px;
  height: auto;
}

.img-error-kero {
  display: flex;
  flex-direction: column; /* Cambia la dirección del eje principal a vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: flex-end; /* Alinea los elementos en la parte inferior del contenedor */
  max-width: 100%; /* Ajusta el ancho máximo del contenedor */
  height: 300px; /* Altura deseada para el contenedor */
  margin-top: -147px;
}

.kerberos {
  filter: drop-shadow(0px -30px 30px #ffffff);
  width: auto; /* Ancho automático para mantener la proporción */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 50%; /* Ajusta el ancho máximo de la imagen */
  max-height: 60%; /* Ajusta la altura máxima de la imagen */
  /* align-self: flex-end; */ /* Alinea la imagen en la parte inferior del contenedor */
}

/* -- VISTA CHAT GRUPAL (cartas clow) -- */

.container-gral-contact {
  background: #ab7689;
  width: 40%;
  min-width: 200px;
  height: 100vh;
}

.title-contact {
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}

.avatar-container {
  width: 80px; /* ajusta el tamaño según sea necesario */
  height: 80px; /* ajusta el tamaño según sea necesario */
  border-radius: 50%; /* hace que la imagen sea circular */
  overflow: hidden; /* asegura que la parte fuera del círculo no se muestre */
  border: 2px solid #ffffff;
  display: flex;
}

.img-Avatar {
  width: 150px;
  height: 150px;
}

.contain-card {
  display: flex;
  margin: 20px 0 0 20px;
}

.avatar-name {
  margin: 20px 0 0 10px;
}

.name-card {
  color: #ffffff;
}

.description-card {
  color: #ffffff;
  opacity: 0.7;
  font-weight: normal;
}

/* -- VISTA CHAT GRUPAL (Chat grupal) -- */

.chatGrupal-view {
  /* display: flex; */
}

.ChatGrupal {
  /* width: 300px; */
  background: #855065;

  width: 40%;
  min-width: 200px;
  height: 100vh;
}
